body {
  background-color: #C5E5FF;
  color: #0B1E36;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-weight: 600;
  color: #0B1E36;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a{
  text-decoration: none;
}

a:link { color:#ffffff; } /* unvisited */
a:hover { color:#5799EB; } /* mouse over */

article {
  padding-top: 100px;
  line-height: 1.3em;
}

h1{
  font-size: 2em;
  font-weight: 600;
  line-height: 2.2em;
}

h3{
  font-size: 1.2em;
  line-height: 1.2em;
  font-style: italic;
}

p{
  line-height: 1.5em;
}

.author{
  line-height: 3em;
}

.container {
  margin: 0 auto;
  width: 50%;
}
